body {
	background-color: rgb(147, 74, 138);
}

h1 {
	text-decoration: underline;
	text-transform: uppercase;
}

h2 {
    border-style: dashed;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: red;
}